<div class="page-header">
  <%= link_to new_completed_section_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Completed section
  <% end %>
  <h1>Listing completed_sections</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @completed_sections) do |completed_section| %>
            <td><%= link_to 'Show', completed_section %></td>
        <td><%= link_to 'Edit', edit_completed_section_path(completed_section) %></td>
        <td><%= link_to 'Destroy', completed_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
